
<% if @name %>

<h1>Roll the dice, <%= @name%></h1>
<p>
  <img src="/images/dice/<%= @die1 %>.svg">
  <img src="/images/dice/<%= @die2 %>.svg">
</p>
<p>
  The total is <%= @total %>
</p>
<p>
  <a href="/dice?name=<%= @name%>">Roll Again, <%= @name%></a>
</p>

<% else %>
<h1> What's your name? </h1>
<form action="https://google.com/maps">
<input type = "text" name = "q">
<button>Where to?</button>
</form>

<% end %>